/* Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
    url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
    url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
}

/* Variables */

:root {
  --active-green: #518534;
  --active-background: #161D29;
  --active-nav-background: #1D2739;
  --active-order: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --breadcrumbs: #C1C6CE;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-filter: #F7F3EC;
  --catalog-active: rgba(169, 169, 169, 0.3);
  --catalog-hover: rgba(197, 197, 197, 0.3);
  --dark-grey: #A9A9A9;
  --footer-background: #293449;
  --filter-hover: #B5B5B5;
  --grey: #32425C;
  --green-shadow: #367315;
  --img-background: #bfbfbf;
  --error: #BA2732;
  --focus-red: #CA2C37;
  --linen: #F9F5F0;
  --light-grey: #EAEAEA;
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --modal-shadow: rgba(0, 0, 0, 0.15);
  --modal-backgroung: #F1F1F1;
  --modal-box-shadow: rgba(41, 52, 73, 0.75);
  --modal-bottom: #F4F4F4;
  --page-title-blue: #F2F6F8;
  --phone: #B7BFC8;
  --radical-red: #FF5357;
  --range-controls: #D7DCDE;
  --range-bar: #00ca74;
  --social-background: #212A3A;
  --service-hover: #405069;
  --slider-shadow: rgba(0, 0, 0, 0.25);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --toggle: #ABABAB;
  --toggle-shadow: #cfcfcf;
  --top-background: #F3F7F9;
  --user-nav-background: rgba(0, 0, 0, 0.0001);
  --white-opacity: rgba(255, 255, 255, 0.3);
  --white: #FFFFFF;
  --whisper: #E5E5E5;
  --font-cuprum: 'Cuprum', Arial, sans-serif;
  --font-ptsans: 'PT Sans', Arial, sans-serif;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--grey);
}

.description {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: var(--black);
}

/* Container */

.container,
.article-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.article-container {
  padding-top: 86px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

/* Main header */

.main-header {
  min-height: 320px;
  margin-bottom: 58px;
  background-color: var(--top-background);
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.main-header-top {
  margin-bottom: 44px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 270px 150px 150px 150px;
  grid-template-columns: 220px 270px 150px 150px 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 42px;
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--footer-background);
}

.main-header-middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--top-background);
}

/* Logo */

.main-header-logo {
  display: block;
  height: 47px;
  background: var(--basic-red);
  -webkit-box-shadow: inset 0px -5px 0px var(--logo-shadow);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.main-header-logo:active {
  background-color: var(--error);
  -webkit-box-shadow: inset 0px -5px 0px var(--logo-shadow);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.header-logo-img {
  padding: 12px 56px 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* User Navigation */

.search-form {
  position: relative;
  width: 100%;
}

.search {
  width: 270px;
  height: 42px;
  padding: 9px 9px 9px 42px;
  border: none;
  color: var(--white);
  background-color: var(--footer-background);
}

.search::-webkit-input-placeholder {
  color: var(--white);
}

.search::-moz-placeholder {
  color: var(--white);
}

.search:-ms-input-placeholder {
  color: var(--white);
}

.search::-ms-input-placeholder {
  color: var(--white);
}

.search::placeholder {
  color: var(--white);
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 13px;
  width: 17px;
  height: 17px;
  fill: var(--white-opacity);
}

.search:focus {
  background-color: var(--white);
  color: var(--black);
  border: none;
}

.search:hover+.search-icon {
  fill: var(--white);
}

.search:focus+.search-icon {
  fill: var(--basic-red);
}

.user-nav {
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.main-header-top .bookmarks {
  padding-left: 43px;
  padding-right: 24px;
  position: relative;
}

.main-header-top .shopping-cart {
  padding-left: 49px;
  padding-right: 26px;
  position: relative;
}

.inner-page .shopping-cart {
  padding-right: 21px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shopping-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shopping-cart:hover::before,
.shopping-cart:focus::before,
.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.shopping-cart:active::before,
.bookmarks:active::before,
.bookmarks:active,
.shopping-cart:active {
  opacity: 0.5;
  background-color: var(--active-background);
}

.user-nav-add {
  background-color: var(--basic-red);
}

.user-nav-add:active::before,
.user-nav-add:active {
  opacity: 1;
  background-color: var(--error);
}

.order {
  padding: 9px 17px;
  background-color: var(--basic-green);
}

.order:hover,
.order:focus {
  background-color: var(--success);
}

.order:active {
  color: var(--active-order);
}

/* Header middle */

.text-italic {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 42px;
  font-family: var(--font-cuprum);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red);
}

.contact-info {
  margin-left: 7px;
}

.contact-address {
  margin: 0;
  padding-left: 10px;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey);
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  margin-bottom: 1px;
  padding: 6px 43px 6px 70px;
  position: relative;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-decoration: none;
  background-color: var(--top-background);
  border: 3px solid var(--white);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 35px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-account,
.inner-page .user-account {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: var(--user-nav-background);
}

.unauthorized,
.inner-page .unauthorized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.authorized,
.inner-page .authorized {
  display: block;
  position: relative;
}

.user-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.account {
  margin-bottom: 9px;
  width: 299px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--white)
}

.user-account-link,
.user-nav-link,
.user-nav a {
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  text-decoration: none;
  text-transform: none;
  background-color: var(--user-nav-background);
}

.account .user-account-link {
  margin-bottom: auto;
  padding-top: 13px;
  padding-bottom: 13px;
}

.account .account-link {
  padding-right: 10px;
  padding-left: 56px;
  position: relative;
}

.logout-link {
  width: 47px;
  height: 42%;
}

.account-link-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 18px;
  fill: var(--basic-greylight);
}

.logout-link-icon {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 20px;
  height: 17px;
  fill: var(--basic-greylight);
}

/* unauthorized */

.unauthorized .user-account-link {
  margin-bottom: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: var(--white)
}

.login-link {
  margin-right: 10px;
  padding-right: 27px;
  padding-left: 45px;
}

.registration-link {
  padding-left: 24px;
  padding-right: 24px;
}

.login-link-icon {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 20px;
  height: 18px;
  fill: var(--basic-greylight);
}

.login-link:hover+.login-link-icon,
.login-link:focus+.login-link-icon,
.account-link:hover .account-link-icon,
.account-link:focus .account-link-icon,
.logout-link:focus .logout-link-icon,
.logout-link:hover .logout-link-icon {
  fill: var(--basic-grey);
}

.user-link {
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  text-decoration: none;
  text-transform: none;
  background-color: var(--user-nav-background);
}

.unauthorized .user-account-link:hover,
.unauthorized .user-account-link:focus,
.user-link:hover,
.user-link:focus {
  color: var(--basic-red);
}

.unauthorized .user-account-link:active,
.login-link:active+.login-link-icon,
.account-link:focus:active .account-link-icon,
.logout-link:focus:active .logout-link-icon,
.account .account-link:active,
.user-nav:active,
.user-link:active {
  fill: var(--basic-greylight);
  color: var(--basic-greylight);
}

.order-link {
  padding-right: 33px;
}

.user-link-icon {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 6px;
  left: 132px;
  background: -o-linear-gradient(bottom, var(--grey), var(--grey)), var(--white);
  background: -webkit-gradient(linear, left bottom, left top, from(var(--grey)), to(var(--grey))), var(--white);
  background: linear-gradient(0deg, var(--grey), var(--grey)), var(--white);
  border-radius: 50%;
}

/* Main navigation */

.main-nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--grey);
  -webkit-box-shadow: inset 0px -5px 0px var(--footer-background);
  box-shadow: inset 0px -5px 0px var(--footer-background);
  list-style: none;
}

.main-nav-list a {
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 16px 28px 20px;
}

.main-nav-item:nth-of-type(1) a {
  padding: 16px 28px 20px 53px;
}

.main-nav-item:nth-last-of-type(1) a {
  padding: 16px 53px 20px 28px;
}

.main-nav-item:hover,
.main-nav-item a:focus {
  background-color: var(--footer-background);
  -webkit-box-shadow: inset 0px -5px 0px var(--footer-background);
  box-shadow: inset 0px -5px 0px var(--footer-background);
}

.main-nav-item:active {
  background-color: var(--active-nav-background);
  -webkit-box-shadow: inset 0px -5px 0px var(--footer-background);
  box-shadow: inset 0px -5px 0px var(--footer-background);
  opacity: 0.5;
}

/* Button */

.btn {
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  width: 135px;
  background: var(--white-opacity);
  color: var(--white);
}

.catalog-btn:hover,
.catalog-btn:focus {
  background: var(--catalog-hover);
}

.catalog-btn:active {
  background: var(--catalog-active);
}

.slide-btn,
.goods-btn,
.manufacturer-btn,
.credit-btn,
.about-btn,
.contact-btn,
.order-btn {
  color: var(--white);
  background-color: var(--basic-red);
}

.slide-btn {
  padding: 10px 46px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 27px;
  margin-left: 24px;
}

.slide-btn:hover,
.slide-btn:focus {
  background-color: var(--focus-red);
}

.slide-btn:active {
  background-color: var(--error);
}

.btn-back,
.btn-forward {
  position: relative;
  top: 123px;
  width: 22px;
  height: 40px;
}

.btn-forward {
  left: 23px;
  background-color: transparent;
  border: 0;
}

.btn-forward::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 1px;
  width: 22px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/icon/icon-left.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}

.btn-back {
  left: 550px;
  top: 126px;
  background-color: transparent;
  border: 0;
}

.btn-back::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 3px;
  width: 22px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/icon/icon-left.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.goods-btn {
  margin-right: 14px;
  padding: 10px 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.manufacturer-btn {
  margin-right: 19px;
  padding: 10px 38px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.sans-btn {
  font-family: var(--font-ptsans);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.filter-button {
  padding: 10px 79px;
  font-size: 13px;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--whisper);
  cursor: pointer;
}

.btn-sort {
  text-decoration: none;
  margin-right: 19px;
}

.sort-up .btn-sort-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-sort:last-child {
  margin-right: 14px;
}

.btn-buy {
  width: 135px;
  position: relative;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--white);
  background: var(--basic-green);
  -webkit-box-shadow: inset 0px -3px 0px var(--green-shadow);
  box-shadow: inset 0px -3px 0px var(--green-shadow);
  border: none;
  border-radius: 2px;
}

.btn-buy::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 28px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--success);
}

.btn-buy:active {
  background-color: var(--active-green);
}

.btn-bookmarks {
  width: 135px;
  padding: 10px 0 9px 2px;
  text-align: center;
  color: var(--grey);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.btn-bookmarks:hover,
.btn-bookmarks:focus {
  border: 3px solid var(--grey);
}

.btn-bookmarks:active {
  opacity: 0.5;
}

.price-btn {
  width: 141px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  margin-right: 33px;
  margin-bottom: 17px;
  padding: 10px 10px 10px 0;
  color: var(--white);
  background-color: var(--white);
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.credit-btn {
  padding: 10px 45px;
}

.about-btn {
  margin-bottom: 20px;
  padding: 10px 40px;
}

.contact-btn {
  padding: 10px 61px;
}

.submit-btn {
  padding: 10px 199px;
  border: none;
  color: var(--white);
  background-color: var(--basic-red);
}

.continue-shopping {
  color: var(--black);
  border: none;
  background-color: var(--white);
}

.page-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
  background-color: var(--page-title-blue);
}

/* Grid for pages */

.page-catalog .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
}

/* Breadcrumbs */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  width: 940px;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li:first-child {
  margin-right: 42px;
}

.breadcrumbs li:nth-of-type(2) {
  margin-right: 40px;
}

.breadcrumbs li:nth-of-type(3) {
  margin-right: 43px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon/icon-right-small.svg);
}

.breadcrumbs-link::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon/icon-home.svg);
  cursor: pointer;
}

.breadcrumbs-link {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 100%;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--black);
  outline: none;
}

.breadcrumbs a:focus,
.breadcrumbs a:active {
  border: 1px solid var(--black);
}

/* Filters */

.page-filters {
  width: 220px;
  margin-right: 20px;
}

.catalog-title {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--basic-filter);
  border-radius: 5px;
}

.filter-item {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: none;
}

.filter-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 152px;
  width: 220px;
  height: 1px;
  background-image: url(../img/filter_line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 220px;
  height: 1px;
  background-image: url(../img/filter_line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-item:nth-of-type(1) {
  min-height: 70px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.filter-item:nth-of-type(2) {
  margin-bottom: 46px;
}

.filter-item:nth-of-type(3) {
  margin-bottom: 39px;
}

.filter-heading {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-heading:nth-of-type(1) {
  margin-bottom: 12px;
}

.filter-item:nth-of-type(2) .filter-heading {
  margin-bottom: 15px;
}

.filter-item:nth-of-type(3) .filter-heading {
  margin-bottom: 23px;
}

.filters-title {
  margin: 0;
  margin-bottom: 14px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.range-filter {
  width: 220px;
  height: 80px;
  margin-bottom: 20px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-filter);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background: var(--range-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--toggle);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-controls input {
  width: 75px;
  padding: 10px;
  margin-left: 0;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--black);
  background: var(--basic-filter);
  border: none;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.price-controls span {
  padding: 8px 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.filter-checkbox,
.filter-radio {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-checkbox:not(:nth-last-of-type(1)) {
  margin-bottom: 21px;
}

.filter-radio:not(:nth-last-of-type(1)) {
  margin-bottom: 24px;
}

.filter-option {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: 0;
  left: 0;
  width: 26.17px;
  height: 23px;
  border: none;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26.17px;
  height: 23px;
  background-image: none;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26.17px;
  height: 23px;
  border: none;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--filter-hover);
  border-radius: 50%;
  opacity: 0.7;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--filter-hover);
  border-radius: 50%;
  opacity: 0.7;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:hover+label::after,
.filter-input-radio:checked:focus+label::after {
  opacity: 1;
}

.filter-input-checkbox[disabled]+label,
.filter-input-radio[disabled]+label {
  opacity: 0.4;
}

.filter-input-checkbox[disabled]+label::before,
.filter-input-checkbox:checked[disabled]+label::after,
.filter-input-radio[disabled]+label::before,
.filter-input-radio[disabled]+label::after {
  opacity: 0.9;
}

.catalog-container {
  grid-column: 2 / -1;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--basic-filter);
  border-radius: 5px;
}

.catalog-container nav {
  display: inline-block;
  vertical-align: middle;
}

.sort {
  max-width: 700px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.sort-title {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.sort-item {
  margin-right: 40px;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
}

nav .sort-price {
  margin-right: 66px;
}

nav .sort-type {
  margin-right: 62px;
}

.sort-item:hover,
.sort-item:focus {
  color: var(--black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.btn-sort-icon {
  fill: var(--basic-greylight);
}

.btn-sort:hover .btn-sort-icon,
.btn-sort:focus .btn-sort-icon {
  fill: var(--black);
}

.btn-sort-current .btn-sort-icon,
.sort-item-current,
.sort-item:active,
.btn-sort:active .btn-sort-icon {
  opacity: 1;
  color: var(--basic-red);
  fill: var(--basic-red);
  border-bottom: none;
}

/* Pagination */

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--whisper);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-next {
  width: 140px;
  height: 38px;
  text-transform: uppercase;
}

.pagination-item-current a {
  color: var(--white);
  background-color: var(--basic-red);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid var(--basic-greylight);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

/* Catalog */

.catalog-content {
  margin-bottom: 59px;
}

.catalog-content-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 123px 20px 123px 20px 123px;
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
  padding: 0;
  margin: 0;
}

.catalog-content-list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-content-list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-content-list>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.catalog-content-list>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-content-list>*:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-content-list>*:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.catalog-content-list>*:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.catalog-content-list>*:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.catalog-content-list>*:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.catalog-content-list li {
  font-family: var(--font-cuprum);
  color: var(--white);
  list-style: none;
  overflow: hidden;
}

.catalog-content-title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.catalog-materials {
  padding-left: 23px;
  background: no-repeat 83% 55% url(../img/materials.svg);
  background-color: var(--special-yellow);
}

.catalog-tools {
  padding-left: 22px;
  background: no-repeat 86% 55% url(../img/tools.svg);
  background-color: var(--special-blue);
}

.catalog-technic {
  padding-left: 22px;
  background: no-repeat 86% center url(../img/technic.svg);
  background-color: var(--special-lilac);
}

.catalog-discount {
  padding-left: 23px;
  grid-column: 3 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: no-repeat 82% center url(../img/discount.svg);
  background-color: var(--special-greenlight);
}

.catalog-delivery {
  padding-left: 22px;
  grid-column: 3/ -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: no-repeat 86% 55% url(../img/delivery.svg);
  background-color: var(--special-yellow);
}

.new-badge {
  overflow: hidden;
  position: relative;
}

.new-badge::after {
  content: "NEW";
  position: absolute;
  top: 10px;
  right: -27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 30px;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: var(--basic-red);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 40;
}

/* Slider */

.slider {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  width: 620px;
  height: 266px;
  position: relative;
  overflow: hidden;
}

.slide--1 {
  background-color: var(--special-yellow);
  background-image: url(../img/perforator_guy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide {
  position: absolute;
  width: 620px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slide-title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.slide-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
}

.slide--2 {
  background-color: var(--special-yellow);
  background-image: url(../img/drill_guy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-shadow {
  height: 40%;
  padding-left: 24px;
  background: var(--slider-shadow);
  background-position: 100% 35%;
}

.slide-wheel {
  width: 30px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 221px;
  left: 295px;
}

.dot {
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: 3px solid var(--white);
  border-radius: 50%;
  background-color: var(--basic-red);
}

.dot--active {
  background-color: var(--white);
}

.slide--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Goods */

.headline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 89px;
  margin: 0 0 20px;
  padding: 0;
  background-color: var(--linen);
}

.goods {
  margin-bottom: 70px;
}

.goods-title,
.manufacturer-title {
  margin-left: 28px;
}

.goods-title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.catalog-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.goods-list,
.manufacturer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}

.goods-item,
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 316px;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  list-style: none;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--light-grey);
}

.catalog-item {
  width: calc((100% - 20px * 2)/3);
  margin-bottom: 18px;
}

.goods-item-card {

  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-item-title {
  font-size: 18px;
  margin: 8px auto;
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 220px;
  height: 164px;
  margin: 0;
  margin-bottom: 3px;
}

.catalog-item-image {
  -o-object-fit: contain;
  object-fit: contain;
  background: var(--linen);
}

.last-price {
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.goods-item:hover,
.goods-item:focus,
.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0px 4px 20px var(--light-grey);
  box-shadow: 0px 4px 20px var(--light-grey);
}

.hover-card {
  width: 220px;
  height: 164px;
  margin: 0 0 3px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.goods-item-card:hover .catalog-item-image,
.goods-item-card:focus .catalog-item-image {
  display: none;
}

.goods-item-card:hover .hover-card,
.goods-item-card:focus:focus .hover-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--white);
  z-index: 5;
}

/* Manufacturer*/

.manufacturer {
  margin-bottom: 70px;
}

.manufacturer-list {
  -ms-grid-rows: 145px 20px 145px;
  grid-template-rows: 145px 145px;
}

.manufacturer-item {
  width: 218px;
  list-style: none;
  border: 1px solid var(--light-grey);
}

.manufacturer-link {
  width: 220px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manufacturer-item-img {
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  background: var(--white);
  border: 1px solid var(--light-grey);
  -webkit-box-shadow: 0px 4px 20px var(--light-grey);
  box-shadow: 0px 4px 20px var(--light-grey);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.manufacturer-item:active {
  background: var(--user-nav-background);
  opacity: 0.5;
}

/* Services */

.services {
  margin-bottom: 73px;
  padding: 41px 120px 10px;
  background-color: var(--basic-background);
}

.service-title,
.about-title,
.contacts-title,
.article-title {
  color: var(--black);
}

.service-page .title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 22px;
}

.service-description {
  margin: 0;
  max-width: 42%;
}

.service-description:nth-of-type(2) {
  padding-bottom: 60px;
}

.page-guarantee .service-description {
  max-width: 51%;
}

.page-credit .service-description {
  max-width: 45%;
}

.column-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-nav {
  width: 100%;
  max-width: 240px;
  margin-right: 80px;
  position: relative;
  padding: 15px 0 17px 22px;
  cursor: pointer;
}

.service-nav::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -40px;
  left: 230px;
  background-image: url(../img/line.png);
  background-position: center;
  background-repeat: no-repeat;
}

.service-list {
  list-style: none;
  margin: 0;
  margin-top: 11px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

}

.service-item {
  width: 218px;
  padding: 14px 0 17px 22px;
  font-family: var(--font-cuprum);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background: var(--grey);
  -webkit-box-shadow: 0px 1px 0px var(--footer-background), inset 0px 1px 0px var(--service-hover);
  box-shadow: 0px 1px 0px var(--footer-background), inset 0px 1px 0px var(--service-hover);
}

.service-pages {
  width: 100%;
  height: 283px;
  max-width: 620px;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service-page {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.service-page--active {
  display: block;
}

.service-item:hover,
.service-item:focus {
  color: var(--white);
  background: var(--footer-background);
  -webkit-box-shadow: 0px 1px 0px var(--footer-background), inset 0px 1px 0px var(--service-hover);
  box-shadow: 0px 1px 0px var(--footer-background), inset 0px 1px 0px var(--service-hover);
}

.service-item:active {
  color: var(--grey);
  background: var(--white);
  -webkit-box-shadow: 0px 1px 0px var(--white), inset 0px 1px 0px var(--white);
  box-shadow: 0px 1px 0px var(--white), inset 0px 1px 0px var(--white);
}

.display-none,
.inner-page .display-none {
  display: none;
}

.visibility-none {
  visibility: hidden;
}

.service-item--active {
  color: var(--grey);
  background: var(--white);
  -webkit-box-shadow: 0px 1px 0px var(--white), inset 0px 1px 0px var(--white);
  box-shadow: 0px 1px 0px var(--white), inset 0px 1px 0px var(--white);
}

.page-delivery {
  background-image: url(../img/layer_truck.png);
  background-repeat: no-repeat;
  background-position: 100% 30px;
  z-index: 40;
}

.page-delivery .title {
  padding-bottom: 28px;
}

.page-guarantee {
  padding-right: 6px;
  background-image: url(../img/layer_guarantees.png);
  background-repeat: no-repeat;
  background-position: 240px 7px;
  z-index: 40;
}

.page-credit {
  padding-right: 20px;
  background-image: url(../img/layer_credit.png);
  background-repeat: no-repeat;
  background-position: 165px 7px;
  z-index: 40;
}

.page-credit .title {
  padding-bottom: 28px;
}

.page-credit .service-description {
  padding-bottom: 34px;
}

.service-page {
  -webkit-animation: scale 0.3s ease-in-out;
  animation: scale 0.3s ease-in-out;
}

/* Index columns */

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
}

.index-columns .about {
  width: 460px;
}

.index-columns .contacts {
  width: 300px;
}

/* About */

.delivery-list {
  padding: 0;
  padding-left: 37px;
  margin: 0;
  margin-bottom: 19px;
}

.delivery-item {
  padding-bottom: 11px;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  position: relative;
}

.delivery-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 23px;
}

.contacts p {
  margin-bottom: 32px;
}

.about-description {
  line-height: 24px;
  margin: 0;
}

.about-description:not(:nth-last-of-type(1)) {
  margin-bottom: 25px;
}

.about-description:nth-last-of-type(1) {
  margin-bottom: 4px;
}

/* Article */


.article-section {
  padding-bottom: 66px;
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  background: var(--basic-background);
}

.article-title {
  grid-column: 1 / -1;
  padding-bottom: 23px;
  margin: 0;
}

.article-section p {
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  grid-column: 1 / -1;
}

/* Contacts */

.contacts {
  max-width: 300px;
  margin: 0;
  -ms-grid-column-align: end;
  justify-self: end;
}

.contacts-img {
  background-color: var(--linen);
}

.city-map {
  display: block;
  margin-bottom: 29px;
}

/* Main footer */

.main-footer {
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--top-background);
  background-color: var(--grey);
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 54px;
}

.footer-logo-img {
  margin-bottom: 16px;
  background-color: var(--basic-red);
}

.footer-contact-info {
  padding-left: 3px;
}

.footer-contact-info p {
  margin: 0;
  padding: 0;
}

.footer-phone {
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--top-background);
  text-decoration: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 19px;
  width: 546px;
  min-height: 85px;
}

.footer-nav-list,
.footer-catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.footer-nav-list li:not(:nth-last-of-type(1)),
.footer-catalog-list li:not(:nth-last-of-type(1)) {
  padding-right: 58px;
}

.footer-catalog-list li:nth-of-type(2) {
  padding-right: 62px;
}

.footer-nav-link {
  font-family: var(--font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--top-background);
  text-decoration: none;
}

.footer-catalog-item a {
  color: var(--special-yellowlight);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.footer-nav-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 388px 134px 255px 159px;
  grid-template-columns: 388px 134px 255px 159px;
  padding-top: 35px;
  padding-bottom: 27px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  background-color: var(--footer-background);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 134px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--white);
  background: -o-linear-gradient(bottom, var(--social-background), var(--social-background));
  background: -webkit-gradient(linear, left bottom, left top, from(var(--social-background)), to(var(--social-background)));
  background: linear-gradient(0deg, var(--social-background), var(--social-background));
  border-radius: 50%;
  text-decoration: none;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background: var(--basic-red);
}

.footer-copyright {
  margin: 0;
}

.footer-copyright:nth-child(n+2) {
  -ms-grid-column-align: end;
  justify-self: end;
}

.footer-copyright:nth-child(3) {
  padding-right: 2px;
}

.footer-copyright:nth-child(4) {
  padding-right: 11px;
}

.footer-copyright a {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.footer-copyright a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: var(--font-cuprum);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  border-top: 7px solid var(--basic-red);
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 20px var(--modal-shadow);
  box-shadow: 0px 4px 20px var(--modal-shadow);
  z-index: 42;
}

/* Modal show */

.modal--show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/* Modal close */

.modal-close {
  width: 21px;
  height: 21px;
  top: 12px;
  right: 10px;
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 21px;
  height: 21px;
  border: none;
  background-image: url(../img/icon/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Modal contact us */

.modal-contact-us {
  width: 620px;
  top: 200px;
  bottom: auto;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-container {
  width: 100%;
  padding: 39px 80px 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 75px 150px;
  grid-gap: 12px;
}

.contact-us-form label {
  margin-bottom: 11px;
}

.half-width {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full-width {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-us-form input,
.contact-us-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.contact-us-form input {
  width: 100%;
  height: 37px;
  padding: 2px 9px 5px 10px;
  vertical-align: middle;
}

.message-text {
  width: 460px;
  margin: 0;
  padding: 2px 9px 5px 10px;
  vertical-align: middle;
}

.contact-us-form input::-webkit-input-placeholder,
.contact-us-form textarea::-webkit-input-placeholder {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.contact-us-form input::-moz-placeholder,
.contact-us-form textarea::-moz-placeholder {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.contact-us-form input:-ms-input-placeholder,
.contact-us-form textarea:-ms-input-placeholder {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.contact-us-form input::-ms-input-placeholder,
.contact-us-form textarea::-ms-input-placeholder {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.contact-us-form input::placeholder,
.contact-us-form textarea::placeholder {
  font-family: var(--font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.modal-background-container {
  width: 620px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--modal-bottom);
}

/* Modal cart */

.modal-cart {
  width: 620px;
  top: 200px;
  bottom: auto;
}

.cart-desc {
  position: relative;
  width: 421px;
  margin: 0;
  margin-bottom: 67px;
  margin-left: 77px;
  padding: 66px 99px 0px 99px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.cart-desc::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 4px;
  width: 66px;
  height: 66px;
  border: none;
  background-image: url(../img/icon/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-btn-container {
  width: 100%;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--modal-backgroung);
}

.modal-btn-container a {
  width: 192px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-btn-container a:nth-of-type(1) {
  margin-right: 10px;
}

/* Modal map */

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-map img {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

.modal-map iframe {
  border: none;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
